* {
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}

:root {
	--primary-purple: #7031C9;
	--neutral-black: #000;
	--neutral-white: #FFF;
}

html {
	scroll-behavior: smooth;
}

body {
	/* set bg + add 40% shadow */
	background-image: url(bg-img.png);
}

h1 {
	font-weight: bold;
}

input[type="submit"] {
	cursor: pointer;
}