* {
	/* default styles below */
	box-sizing: border-box;
	/* font-size: 18px */ /* <- only use if really desired */
	margin: 0;
	padding: 0;
	/* not default styles below */
}

html {
	/* default styles below */
	scroll-behavior: smooth;
	/* not default styles below */
}

body {
	/* default styles below */
	min-height: 100vh;
	/* not default styles below */
}

img {
	/* default styles below */
	display: block;
	max-width: 100%;
	/* not default styles below */
}

button {
	/* default styles below */
	cursor: pointer;
	/* not default styles below */
}